@keyframes tw-spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

@keyframes tw-spin-reverse {
  from { transform:rotate(360deg); }
  to { transform:rotate(0deg); }
}


@keyframes tw-fade-in {
  from {opacity:0;}
  to {opacity:1;}
}

@keyframes tw-fade-out {
  from {opacity:1;}
  to {opacity:0;}
}
